body {
    margin: 0pt;
    background: rgb(0, 129, 165) none repeat scroll 0% 0%;
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-inline-policy: continuous;
    font-family: Arial;
}

.main {
    text-align: center;
    margin: 0px auto;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    overflow: hidden;
    position: relative;
    word-wrap: break-word;
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-inline-policy: continuous;
    width: 700px;
    padding-bottom: 50px;
}

div#widget0 {
    margin-left: 12px;
    margin-top: 0px;
    opacity: 1;
    position: relative;
    width: 674px;
    z-index: 1;
}

div#widget0 .navbar {
    font-family: Arial, sans-serif;
    font-size: 1em;
    color: #666;
    margin: 9px 0px 6px 0px;
    line-height: 30px;
}

div#widget0 .navbar-bg {
    text-align: center;
}

div#widget0 .navbar-bg ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}


div#widget0 li {
    list-style-type: none;
    display: inline;
    padding: 0px 10px 0px 10px;
}


div#widget0 li a {
    text-decoration: none;
    color: #666;
}

div#widget0 li a:visited {
    text-decoration: none;
    color: #666;
}

div#widget0 li a:hover {
    color: #463C3C;
    text-decoration: none;
}

div#widget0 li.current-page a {
    color: #463C3C;
    text-decoration: none;
    font-weight: bold;
}

div.shape {
    height: 38px;
    left: 6px;
    position: absolute;
    top: 4px;
    width: 688px;
    z-index: 1;
}

div.shape div {
    position: relative;
    width: 688px;
}

div.shape div img {
    height: 38px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 688px;
}

div.header_layer {
    height: 228px;
    margin-left: 0px;
    position: relative;
    width: 700px;
    z-index: 10;
}

div.bumper {
    height: 0px;
    line-height: 0px;
}

div.tinyText {
    height: 1px;
    line-height: 1px;
}

div.shape2 {
    height: 211px;
    left: 11px;
    position: absolute;
    top: 8px;
    width: 685px;
    z-index: 1;
}

div.shape2 div {
    position: relative;
    width: 685px;
}

div.shape2 div img {
    height: 211px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 685px;
}

div.middlebox {
    height: 240px;
    left: 28px;
    position: absolute;
    top: -12px;
    width: 645px;
    z-index: 1;
    background: transparent;
    opacity: 1.00;
    vertical-align: bottom;
}

div.middlebox div {
    height: 240px;
    position: relative;
    width: 645px;
    padding: 0px;
}

div.middlebox div div {
    padding: 10px;
    display: table-cell;
    vertical-align: middle;
}

.paragraph_style {
    color: rgb(255, 38, 0);
    font-family: 'Arial-BoldMT', 'Arial', sans-serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 2px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}

.paragraph_style_1 {
    color: rgb(233, 233, 233);
    font-family: 'Arial-BoldMT', 'Arial', sans-serif;
    font-size: 36px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 42px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 2px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}

.paragraph_style_2 {
    color: rgb(233, 233, 233);
    font-family: 'Arial-BoldMT', 'Arial', sans-serif;
    font-size: 25px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 32px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}

.paragraph_style_3 {
    color: rgb(233, 233, 233);
    font-family: 'Arial-BoldMT', 'Arial', sans-serif;
    font-size: 25px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 32px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 10px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}

.paragraph_style_4 {
    color: rgb(233, 233, 233);
    font-family: 'Arial-BoldMT', 'Arial', sans-serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}

.style_1 {
    font-family: 'Arial-BoldMT', 'Arial', sans-serif;
    font-size: 28px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

div.body_layer {
    margin-left: 0px;
    position: relative;
    width: 700px;
    z-index: 5;
}

div.body_layer2 {
    margin-left: 29px;
    margin-top: 30px;
    position: relative;
    width: 642px;
    z-index: 1;
    background: transparent;
    opacity: 1.00;
    vertical-align: bottom;

    color: rgb(88, 77, 77);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}

div.body_layer2 div {
    position: relative;
    padding: 0px;
}

.style_3 {
    padding: 4px;
}

div.locale {
    height: 244px;
    left: 60px;
    top: 0px;
    width: 100%;
    z-index: 1;
    align: center;
}

div.locale div {
    position: relative;
    width: 581px;
}

div.locale img {
    height: 244px;
    left: 0px;
    top: 0px;
    width: 581px;
}

div.locale p {
    padding-bottom: 0pt;
    padding-top: 0pt;
    color: rgb(88, 77, 77);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 25px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}

ul li {
    width: 100;
    line-height: 20px;
    padding-left: 19px;
    text-indent: -11px;
    color: rgb(88, 77, 77);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}

h4 {
    text-align: left;
}

ul.committee li {
    list-style-type: none;
    text-indent: -40px;
}
