* {
    font-family: "Trebuchet MS",Tahoma,sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background: none repeat scroll 0 0 #214181;
}
img {
    border: 0 none;
}
#wrapper {
    background: none repeat scroll 0 0 #ffffff;
    margin: 8px auto;
    text-align: left;
    width: 780px;
}

#header {
 background: none repeat scroll 0 0 #112141;
}
#header a {
 text-decoration: none;
 color: #ffffff;
}

#title {
 color: #ffffff;
 font-weight: bold;
 font-size: 197%;
 padding: 10pt;
}

#affiliated {
 color: #ffffff;
 font-weight: bold;
 font-size: 120%;
 padding-left: 15pt;
 padding-bottom: 1.5ex;
}

#when, #where {
 color: #ffffff;
 font-weight: bold;
 font-size: 110%;
 padding-left: 15pt;
}

@media only print {
  body {
    background: none repeat scroll 0 0 white !important;
  }
  #header, #header a, #title, #affiliated, #when, #where {
    color: black !important;
    background: none repeat scroll 0 0 white !important;
  }
  #header {
    border-bottom: 5px solid black;
    padding-bottom: 10px;
  }
  #wrapper {
    width: auto !important;
  }
}

#menu {
    background: none repeat scroll 0 0 #112141;
    float: right;
    width: 100%;
}
#menu ul {
    float: right;
    list-style-type: none;
}
#menu ul li {
    float: left;
}
#menu ul li a {
    color: #ffffff;
    display: block;
    font-size: 10pt;
    font-weight: bold;
    margin-right: 4px;
    padding: 9px;
    text-decoration: none;
}
#menu ul li a:hover {
    background: none repeat scroll 0 0 #ffffff;
    color: #112141;
}
#menu ul li a.current {
    background: none repeat scroll 0 0 #ffffff;
    color: #112141;
}
@media print {
  #menu { display: none; }
}
#main {
    margin: 50px 30px 30px;
}
#main h1 {
    color: #112141;
    font-size: 125%;
    margin-bottom: 12pt;
}
#main h2 {
    color: #112141;
    font-size: 110%;
    margin-bottom: 12pt;
    margin-left: 4pt;
}
#main h3 {
    color: #112141;
    font-size: 100%;
    margin-bottom: 12pt;
    margin-left: 8pt;
}
#main p {
    font-size: 10pt;
    line-height: 16pt;
    margin-bottom: 12pt;
    margin-left: 12pt;
    margin-right: 12pt;
    text-align: justify;
}
#main p.centre {
    text-align: center;
}
#main ul {
    font-size: 10pt;
    line-height: 16pt;
    margin-bottom: 12pt;
    margin-left: 28pt;
    text-align: justify;
}
#footer {
    background: none repeat scroll 0 0 #112141;
    color: #fff;
    font-size: 8pt;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}
#footer a {
    background: none repeat scroll 0 0 #112141;
    color: #fff;
    text-decoration: underline;
}

.todo {
 color: red;
}